<!DOCTYPE html>
<html>
<head>
  <title>show</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

</head>

<body>
  <header>
    <a href="index.html"> <h1> WASHER</h1> </a>
    <nav>
      <div id="navLeft">
        <a href="showmylocation.html" class= > <h3>도와주세요</h3> </a>
      </div>
      <div id="navRight">
        <a href="job.html"> <h3>도와드려요</h3> </a>
      </div>
    </nav>
  </header>
  <article>
    내 현재 위치는
    <div id="loc">
    </div>
    <div id="map"></div>
    <script src="/javascripts/reverse_geocoding.js">
    </script>
    geocodeLatLng(geocoder, map, infowindow);
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA52_8sVgf49nSXkvHsEKBxgDnEEoXxRBo&signed_in=true&callback=initMap" async defer>
  </script>
</article>
</body>
</html>
