<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=_title%></title>
</head>
<body>
  <form action = "/test" method = "post">
  <div>
    <%=time%>
  </div>
  <div>
    <p>okay babo</p>
  </div>
  </form>
</body>
</html>
